/* -------------------------------------------

fonts

------------------------------------------- */

$font-1: var(--font-primary), sans-serif;

/* -------------------------------------------

colors

------------------------------------------- */

$d1: #0A0B0F;
$d2: #14151A;

$l1: #FFFFFF;
$l2: #73767B;

$a: #F35A38;
$as: #f2b279;

/* -------------------------------------------

transition

------------------------------------------- */

$tsm: .2s cubic-bezier(0, 0, 0.3642, 1);
$tmd: .4s cubic-bezier(0, 0, 0.3642, 1);
$tlg: .6s cubic-bezier(0, 0, 0.3642, 1);
$txl: .8s cubic-bezier(0, 0, 0.3642, 1);